#títol{
    font-weight: 50px;
}
.text-important {
  font-weight: bold;
}
.gran {
    font-size: 25px;
}
.negreta{
    font-weight: bold;
}
.subratllat {
    text-decoration: underline;
}
.vermell{
    color: red;
}
.verd{
    color: green;
}
.blau{
    color: blue;
} 
a {
  text-decoration: none;
  border-bottom: 1px dotted #333;
}
.hover {
        color: orange;
        cursor: pointer;
      }
.decorat::before {
          content: "👉 ";
          ;}  
.decorat::after {
          content: " ✔";
          ;}    